

<ng-template #advancedSearch let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-advanced-search></app-advanced-search>
    </div>

</ng-template>

<div *ngIf="loading">
    loading please wait
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-uppercase mb-0">Servidores</h5>
                <span>Mostrando {{servidores.currentPage}} de {{servidores.pages}} paginas</span>
				<button class="btn btn-secondary float-right" (click)="openModal(advancedSearch)">Busqueda Avanzada</button>
                <a class="btn btn-info float-right"  [routerLink]="['./create']">Agregar</a>
            </div>
            <app-search (event)="receiveSearch($event)"></app-search>
            <br>
            <div class="table-responsive">
            <table class="table no-wrap user-table mb-0">
                <thead>
                    <tr>
                        <th scope="col" class="border-0 text-uppercase font-medium">Servidor</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">Infraestructura</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">Ubicacion</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">Sistema Operativo</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">EOS</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">EOL</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let servidor of servidores.result">
                        <td>
                            <h5 class="font-medium mb-0">{{ servidor.hostname }}</h5>
                            <span class="text-muted">{{ servidor.ip }}</span>
                        </td>
                        <td>
                            <h5 class="font-medium mb-0">{{ servidor.tipoHW }}</h5>
                            <span class="text-muted">{{ servidor.fabricante }}</span>
                        </td>
                        <td>
                            <h5 class="font-medium mb-0">{{ servidor.ubicacionServidor }}</h5>
                            <span class="text-muted">{{ servidor.nombreEmpresa }}</span>
                        </td>
                        <td>
                            <h5 class="font-medium mb-0">{{ servidor.versionSistemaOperativo }}</h5>
                            <span class="text-muted">{{ servidor.sistemaOperativo }}</span>
                        </td>
                        <td>
                            <h5 class="font-medium mb-0">{{ servidor.eos }}</h5>
                        </td>
                        <td>
                            <h5 class="font-medium mb-0">{{ servidor.eol }}</h5>
                        </td>
                        <td>
                            <a type="button" class="btn btn-circle btn-outline-info" [routerLink]="['./detail',  servidor.id]">
                                <i class="fas fa-eye"></i> 
                            </a>
                            <a type="button" class="btn btn-circle btn-outline-info" [routerLink]="['./edit',  servidor.id]">
                                <i class="fa fa-edit"></i> 
                            </a>
                            <a type="button" class="btn btn-circle btn-outline-info"><i class="fa fa-trash"></i> </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!--
<app-pagination [totalPages] = servidores.pages [currentPage] = servidores.currentPage (event)="receivePagination($event)"></app-pagination>


-->