
<!-- Address Tab form Ends -->


<form #addressForm="ngForm" class="editForm" novalidate>
    <div class="tab-pane active">
        <h4 class="head text-center">{{title}}</h4>
        <br />
        <span *ngIf="address">
        <div class='row'>
            <div style="  margin: auto;

            padding: 10px;">
                <img src="assets/loading2.gif" style="
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;">
  <br><br>
  <div class="form-group text-center">
    <button uiSref="work" type="button" class="btn btn-raised btn-secondary mr-1"
        (click)="cancel()">Regresar</button>
    <button uiSref="result" type="button" class="btn btn-raised btn-info"
        [disabled]="!addressForm.valid" (click)="save(addressForm)"> Continuar </button>
</div>
            </div>
        </div>
        </span>

    </div>
</form>