<div class="container">
    <!-- Details-->
    <div class="row mb-3">
        <div class="col-sm-4 mb-2">
            <div class="bg-secondary p-4 text-dark text-center"><span class="font-weight-semibold mr-2">Tipo de archivo:</span>Excel</div>
        </div>
        <div class="col-sm-4 mb-2">
            <div class="bg-secondary p-4 text-dark text-center"><span class="font-weight-semibold mr-2">Elementos correctos:</span>122</div>
        </div>
        <div class="col-sm-4 mb-2">
            <div class="bg-secondary p-4 text-dark text-center"><span class="font-weight-semibold mr-2">Elementos Incorrectos:</span>34</div>
        </div>
    </div>
    <!-- Progress-->
    <div class="steps">
        <div class="steps-header">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="steps-body">
            <div class="step step-completed">
                <span class="step-indicator">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check">
                        <polyline points="20 6 9 17 4 12"></polyline>
                    </svg>
                </span>
                <span class="step-icon fas fa-upload fa-2x"></span> Subir Archivo
            </div>
            <div class="step step-completed">
                <span class="step-indicator">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check">
                        <polyline points="20 6 9 17 4 12"></polyline>
                    </svg>
                </span>
                <i class="step-icon fas fa-tasks fa-2x"></i> Validar Archivo
            </div>
            <div class="step step-active">
                <span class="step-icon fas fa-check-circle fa-2x">
                </span> Realizar Carga
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div>


        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="action"><input type="checkbox" /></td>
                        <td class="action"><i class="fa fa-star-o"></i></td>
                        <td class="action"><i class="fa fa-bookmark-o"></i></td>
                        <td class="name"><a href="#">Larry Gardner</a></td>
                        <td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </a></td>
                        <td class="time">08:30 PM</td>
                    </tr>
                    <tr>
                        <td class="action"><input type="checkbox" /></td>
                        <td class="action"><i class="fa fa-star-o"></i></td>
                        <td class="action"><i class="fa fa-bookmark"></i></td>
                        <td class="name"><a href="#">Larry Gardner</a></td>
                        <td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </a></td>
                        <td class="time">08:30 PM</td>
                    </tr>
                    <tr class="read">
                        <td class="action"><input type="checkbox" /></td>
                        <td class="action"><i class="fa fa-star"></i></td>
                        <td class="action"><i class="fa fa-bookmark"></i></td>
                        <td class="name"><a href="#">Larry Gardner</a></td>
                        <td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </a></td>
                        <td class="time">08:30 PM</td>
                    </tr>
                    <tr>
                        <td class="action"><input type="checkbox" /></td>
                        <td class="action"><i class="fa fa-star-o"></i></td>
                        <td class="action"><i class="fa fa-bookmark-o"></i></td>
                        <td class="name"><a href="#">Larry Gardner</a></td>
                        <td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </a></td>
                        <td class="time">08:30 PM</td>
                    </tr>
                    <tr class="read">
                        <td class="action"><input type="checkbox" /></td>
                        <td class="action"><i class="fa fa-star-o"></i></td>
                        <td class="action"><i class="fa fa-bookmark-o"></i></td>
                        <td class="name"><a href="#">Larry Gardner</a></td>
                        <td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </a></td>
                        <td class="time">08:30 PM</td>
                    </tr>
                    <tr class="read">
                        <td class="action"><input type="checkbox" /></td>
                        <td class="action"><i class="fa fa-star-o"></i></td>
                        <td class="action"><i class="fa fa-bookmark"></i></td>
                        <td class="name"><a href="#">Larry Gardner</a></td>
                        <td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </a></td>
                        <td class="time">08:30 PM</td>
                    </tr>
                    <tr>
                        <td class="action"><input type="checkbox" /></td>
                        <td class="action"><i class="fa fa-star"></i></td>
                        <td class="action"><i class="fa fa-bookmark-o"></i></td>
                        <td class="name"><a href="#">Larry Gardner</a></td>
                        <td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </a></td>
                        <td class="time">08:30 PM</td>
                    </tr>
                    <tr>
                        <td class="action"><input type="checkbox" /></td>
                        <td class="action"><i class="fa fa-star-o"></i></td>
                        <td class="action"><i class="fa fa-bookmark-o"></i></td>
                        <td class="name"><a href="#">Larry Gardner</a></td>
                        <td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </a></td>
                        <td class="time">08:30 PM</td>
                    </tr>
                    <tr class="read">
                        <td class="action"><input type="checkbox" /></td>
                        <td class="action"><i class="fa fa-star"></i></td>
                        <td class="action"><i class="fa fa-bookmark"></i></td>
                        <td class="name"><a href="#">Larry Gardner</a></td>
                        <td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </a></td>
                        <td class="time">08:30 PM</td>
                    </tr>
                    <tr>
                        <td class="action"><input type="checkbox" /></td>
                        <td class="action"><i class="fa fa-star"></i></td>
                        <td class="action"><i class="fa fa-bookmark-o"></i></td>
                        <td class="name"><a href="#">Larry Gardner</a></td>
                        <td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </a></td>
                        <td class="time">08:30 PM</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>