<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<app-new-variables></app-new-variables>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Email campaign chart -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <app-campaign></app-campaign>
        <app-earning></app-earning>
    </div>

    <div class="col-lg-6 col-md-12 order-lg-2 order-md-3">
        <app-sales></app-sales>
    </div>
    <div class="col-lg-3 col-md-6 order-lg-3 order-md-2">
        <app-wheather></app-wheather>
        <app-users></app-users>
    </div>
</div>
<!-- ============================================================== -->
<!-- Email campaign chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Ravenue - page-view-bounce rate -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-lg-6 col-md-12">
        <app-latest-sales></app-latest-sales>
    </div>
    <div class="col-lg-6 col-md-12">
        <app-region-sales></app-region-sales>
    </div>
</div>
<!-- ============================================================== -->
<!-- Ravenue - page-view-bounce rate -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Recent comment and chats -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-lg-6">
        <app-comments></app-comments>
    </div>
    <!-- column -->
    <div class="col-lg-6">
        <app-todo-list></app-todo-list>
    </div>
</div>
<!-- ============================================================== -->
<!-- Recent comment and chats -->
<!-- ============================================================== -->