
<div class="modal " id="exampleModal" style="display: block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content p-4">
            <div class="modal-header border-0 mb-2">
                <img src="assets/images/logo-att-white.png" width="100%" height="30%" />
            </div>
            <form id="loginform" [formGroup]="form" (ngSubmit)="login()">
                <div class="modal-body">
                    <h3 class="mb-4 title">Inventario Servidores</h3>
                    <div class="form-group"> 
                        <input type="text" formControlName="UserName" id="email" class="form-control p-0" required style="box-shadow: none;border-radius:0px; color:white;">  
                        <label class="form-control-placeholder p-0" for="name">Username</label>
                    </div>
                    <div class="form-group">
                        <input type="password" formControlName="Password" id="password" class="form-control p-0" required style="box-shadow: none;border-radius:0px; color: white"> 
                        <label class="form-control-placeholder p-0" for="password">Password</label> 
                    </div>
                    <label class="tc" style="padding-top: 1rem;">Al iniciar sesion acepto los <strong>Terminos y Condiciones</strong> de este sitio</label>
                </div>
                <div class="modal-footer border-0" style="display: flex; justify-content: center;">
                    <button type="submit" class="btn signup col-6 col-md-6" [disabled]="form.invalid || loading" >Iniciar Sesion</button>
                    <div class="spinner-border" role="status" *ngIf="loading">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>