
<div *ngIf="loading">
    loading please wait...
</div>

<div *ngIf="!loading" class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-uppercase mb-0">Actividades</h5>
                <a class="btn btn-info float-right" [routerLink]="['./create']">Agregar</a>
            </div>
            <br>
            <div class="table-responsive">
            <table class="table no-wrap user-table mb-0">
                <thead>
                    <tr>
                        <th scope="col" class="border-0 text-uppercase font-medium">Actividad</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">Responsable</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">Periodo</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">Tipo de Actividad</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of actividades">
                        <td>
                            <h5 class="font-medium mb-0">{{ item.nombreActividad }} <span *ngIf="item.estatus == 1" class="badge rounded-pill bg-light text-dark">Habilitado</span> </h5>
                            <span class="text-muted">{{ item.descripcion }}</span>
                        </td>
                        <td>
                            <h5 class="font-medium mb-0">{{ item.responsable }}</h5>
                        </td>
                        <td>
                            <h5 class="font-medium mb-0">{{ item.periodo }}</h5>
                            <span class="text-muted">
                                <i style="color:rgba(48, 100, 197, 0.616);" class="fas fa-calendar-check"></i> {{ item.fechaInicio.split('T')[0] }} Al 
                                <i style="color:rgba(38, 197, 32, 0.507);" class="fas fa-calendar-times"></i> {{ item.fechaFin.split('T')[0]}}
                            </span>
                        </td>
                        <td>
                            <h5 class="font-medium mb-0">{{ item.tipoActividad }}</h5>
                            <span class="badge bg-secondary text-white" *ngIf="item.rma == 1">RMA</span>
                        </td>
                        <td>
                            <a type="button" class="btn btn-circle btn-outline-info" [routerLink]="['./detail',  item.id]">
                                <i class="fas fa-eye"></i> 
                            </a>
                            <a type="button" class="btn btn-circle btn-outline-info" [routerLink]="['./edit',  item.id]">
                                <i class="fa fa-edit"></i> 
                            </a>
                            <a type="button" class="btn btn-circle btn-outline-info"><i class="fa fa-trash"></i> </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>



