<section class="section services-section" id="services">
    <div class="container">
        <div class="row">
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fab fa-windows"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Windows</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fab fa-linux"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Unix</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="static/plantilla_base_datos.xlsx" download>
                    <div class="feature-box-1">
                        <div class="icon">
                            <i class="fas fa-database"></i>
                        </div>
                        <div class="feature-content">
                            <h5>Base de Datos</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fas fa-filter"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Middleware</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fas fa-server"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Backup</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fas fa-hdd"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Storage</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fab fa-codepen"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Virtualizador</h5>
                    </div>
                </div>
            </div>
            <!-- / -->
        </div>
    </div>
</section>